{% block report %}
    <p>{{ 'email.hello' |trans }} {{ approver }},</p>
    <p>{{ submitter }} submitted a timesheet for approval: {{ week }}</p>
    <a href="{{ url }}">{{ week }}</a>
{% endblock %}

