<ul class="nav nav-tabs btn-list">
    {% if showToApproveTab %}
        <li{% if current_tab == "to_approve" %} class="active"{% endif %}>
            <a href="{{ path('approval_bundle_to_approve') }}"
               class="btn btn-primary"
               style="cursor: pointer"
               aria-expanded="false">
                {{ 'menu.to_approve' |trans }}
            </a>
        </li>
    {% endif %}
    <li{% if current_tab == "weekly_report" %} class="active"{% endif %}>
        <a href="{{ path('approval_bundle_report') }}"
           class="btn btn-primary"
           style="cursor: pointer"
           aria-expanded="false">
            {{ 'menu.report_user_week' |trans }}
        </a>
    </li>
    {% if showOvertime %}
        <li{% if current_tab == "overtime_by_user" %} class="active"{% endif %}>
            <a href="{{ path('overtime_bundle_report') }}"
              class="btn btn-primary"
              style="cursor: pointer"
              aria-expanded="false">
                {{ 'menu.report_overtime' |trans }}
            </a>
        </li>
    {% endif %}
    {% if showSettings %}
        <li{% if current_tab == "settings" %} class="active"{% endif %}>
            <a href="{{ path('approval_bundle_settings') }}"
               class="btn btn-primary"
               style="cursor: pointer"
               aria-expanded="false">
                {{ 'menu.settings' |trans }}
            </a>
        </li>
    {% endif %}
    {% if showSettingsWorkdays %}
        <li{% if current_tab == "settings_workday_history" %} class="active"{% endif %}>
            <a href="{{ path('approval_bundle_settings_workday') }}"
               class="btn btn-primary"
               style="cursor: pointer"
               aria-expanded="false">
                {{ 'menu.settings_workday_history' |trans }}
            </a>
        </li>
        <li{% if current_tab == "settings_overtime_history" %} class="active"{% endif %}>
            <a href="{{ path('approval_settings_overtime_history') }}"
               class="btn btn-primary"
               style="cursor: pointer"
               aria-expanded="false">
                {{ 'menu.settings_overtime_history' |trans }}
            </a>
        </li>
    {% endif %}
</ul>
