<ul class="nav nav-pills card-header-pills" data-bs-toggle="tabs">
    {% if showToApproveTab %}
        <li class="nav-item">
            <a class="nav-link{% if current_tab == "to_approve" %} active{% endif %}" href="{{ path('approval_bundle_to_approve') }}">
                {{ 'menu.to_approve' |trans }}
            </a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link{% if current_tab == "weekly_report" %} active{% endif %}" href="{{ path('approval_bundle_report') }}">
            {{ 'menu.report_user_week' |trans }}
        </a>
    </li>
    {% if showOvertime %}
        <li class="nav-item">
            <a class="nav-link{% if current_tab == "overtime_by_user" %} active{% endif %}" href="{{ path('overtime_bundle_report') }}">
                {{ 'menu.report_overtime' |trans }}
            </a>
        </li>
    {% endif %}
    {% if showSettings %}
        <li class="nav-item">
            <a class="nav-link{% if current_tab == "settings" %} active{% endif %}" href="{{ path('approval_bundle_settings') }}">
                {{ 'menu.settings' |trans }}
            </a>
        </li>
    {% endif %}
    {% if showSettingsWorkdays %}
        <li class="nav-item">
            <a class="nav-link{% if current_tab == "settings_workday_history" %} active{% endif %}" href="{{ path('approval_bundle_settings_workday') }}">
                {{ 'menu.settings_workday_history' |trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if current_tab == "settings_overtime_history" %} active{% endif %}" href="{{ path('approval_settings_overtime_history') }}">
                {{ 'menu.settings_overtime_history' |trans }}
            </a>
        </li>
    {% endif %}
</ul>
