{% extends '@Approval/layout.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block report_title %}{{ report_title|trans({}, 'ApprovalBundle') }}{% endblock %}


{% block report %}
    {% block nav_row %}
        <div class="nav_row" style="float:left;width: 100%;">
            {% block nav_form %}
                {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                {{ form_row(form.user, {'label': false}) }}
                {{ form_end(form) }}
            {% endblock %}
            <br/>
        </div>
    {% endblock %}

    {% block table %}
        <div id="history">
            <table class="table table-bordered dataTable">
            <thead>
                <tr>
                    <th class="text-center">{{ 'header.begin'|trans}}</th>
                    <th class="text-center">{{ 'header.end'|trans}}</th>
                    <th class="text-center">{{ 'stats.duration_expected'|trans}}</th>
                    <th class="text-center">{{ 'stats.duration_actual'|trans}}</th>
                    <th class="text-center">{{ 'label.overtime'|trans}}</th>
                    <th class="text-center">{{ 'label.yearly_overtime'|trans}}</th>
                    <th class="text-center">{{ 'table.status'|trans}}</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in weeklyEntries %}
                    <tr>
                        {% set overtime = entry.actualDuration - entry.expectedDuration %}
                        <td class="text-center">{{ entry.startDate }}</td>
                        <td class="text-center">{{ entry.endDate }}</td>
                        <td class="text-center">{{ entry.expectedDuration | duration }}</td>
                        <td class="text-center">{{ entry.actualDuration | duration }}</td>
                        <td class="text-center">{{ overtime | duration }}</td>
                        <td class="text-center">{{ entry.overtimeYearly | duration }}</td>
                        <td class="text-center">{{ entry.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      document.addEventListener("kimai.initialized", function () {
          {% if form.user is defined %}
            jQuery('#{{ form.user.vars.id }}').on("change", function (ev) {
              jQuery(this).closest("form").submit();
            });
          {% endif %}
      });
    </script>
{% endblock %}