{% extends '@Approval/layout.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block report_title %}{{ report_title|trans({}, 'ApprovalBundle') }}{% endblock %}


{% block report %}
    {% block nav_row %}
        <div class="nav_row" style="float:left;width: 100%;">
            {% block nav_form %}
                {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                {{ form_row(form.user, {'label': false}) }}
                {{ form_end(form) }}
            {% endblock %}
            <br/>
        </div>
    {% endblock %}

    {% block table %}
        <div id="history">

            <table class="table table-bordered dataTable">
            <thead>
                <tr>
                    <th class="text-center">{{ 'Week Start'|trans}}</th>
                    <th class="text-center">{{ 'Week Stop'|trans}}</th>
                    <th class="text-center">{{ 'Expected Duruation'|trans}}</th>
                    <th class="text-center">{{ 'Actual Duration'|trans}}</th>
                    <th class="text-center">{{ 'Overtime'|trans}}</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in weeklyEntries %}
                    <tr>
                        {% set overtime = entry.getActualDuration - entry.getExpectedDuration %}
                        <td class="text-center">{{ entry.getStartDate | date('Y-m-d')}}</td>
                        <td class="text-center">{{ entry.getEndDate | date('Y-m-d')}}</td>
                        <td class="text-center">{{ entry.getExpectedDuration | formatHours }}</td>
                        <td class="text-center">{{ entry.getActualDuration | formatHours }}</td>
                        <td class="text-center">{{ overtime | duration }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      document.addEventListener("kimai.initialized", function () {
          {% if form.user is defined %}
        jQuery('#{{ form.user.vars.id }}').on("change", function (ev) {
          jQuery(this).closest("form").submit();
        });
          {% endif %}
        jQuery('#{{ form.date.vars.id }}').on("change", function (ev) {
          jQuery(this).closest("form").submit();
        });
      });
    </script>
{% endblock %}