{% extends '@Approval/layout.html.twig' %}
{% from '@Approval/macros.html.twig' import status_color_class %}

{% block report_title %}{{ report_title|trans }}{% endblock %}

{% block report %}
    {% if past_rows is not empty %}
        <h3 class="mt-4 ps-3">{{ 'table.past_weeks'|trans }}</h3>

        <table class="table table-vcenter table-hover dataTable">
            <thead>
            <tr>
                <th>{{ 'table.approve_user'|trans }}</th>
                <th>{{ 'table.approve_week'|trans }}</th>
                <th>{{ 'table.approve_status'|trans }}</th>
                <th class="actions"></th>
            </tr>

            {% for row in past_rows %}
                <tr class="{{ status_color_class(row['status']) }}">
                    <td>{{ row['user'] }}</td>
                    <td>{{ row['week'] }}</td>
                    <td>{{ row['status']|trans }}</td>
                    <td class="actions">
                        <a class="btn btn-default" style="font-weight: bold;"
                           href="{{ path('approval_bundle_report', {'user':row['userId'], 'date': row['startDate']}) }}">
                            <i class="fas fa-1x fa-eye"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </thead>
        </table>
    {% endif %}

    <h3 class="mt-4 ps-3">{{ 'table.current_week'|trans }}</h3>

    <table class="table table-vcenter table-hover dataTable">
        <thead>
        <tr>
            <th>{{ 'table.approve_user'|trans }}</th>
            <th>{{ 'table.approve_week'|trans }}</th>
            <th>{{ 'table.approve_status'|trans }}</th>
            <th class="actions"></th>
        </tr>
        {% for row in current_rows %}
            <tr class="{{ status_color_class(row['status']) }}">
                <td>{{ row['user'] }}</td>
                <td>{{ row['week'] }}</td>
                <td>{{ row['status']|trans }}</td>
                <td class="actions">
                    <a class="btn btn-default" style="font-weight: bold;"
                       href="{{ path('approval_bundle_report', {'user':row['userId'], 'date': row['startDate']}) }}">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </thead>
    </table>

    {% if future_rows is not empty %}                                
        <h3 class="mt-4 ps-3">{{ 'table.future_week'|trans }}</h3>
        <table class="table table-vcenter table-hover dataTable">
            <thead>
            <tr>
                <th>{{ 'table.approve_user'|trans }}</th>
                <th>{{ 'table.approve_week'|trans }}</th>
                <th>{{ 'table.approve_status'|trans }}</th>
                <th class="actions"></th>
            </tr>
            {% for row in future_rows %}
                <tr class="{{ status_color_class(row['status']) }}">
                    <td>{{ row['user'] }}</td>
                    <td>{{ row['week'] }}</td>
                    <td>{{ row['status']|trans }}</td>
                    <td class="actions">
                        <a class="btn btn-default" style="font-weight: bold;"
                          href="{{ path('approval_bundle_report', {'user':row['userId'], 'date': row['startDate']}) }}">
                            <i class="fas fa-eye"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </thead>
        </table>
    {% endif %}
{% endblock %}
